<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Help</title>
        <link rel = "stylesheet" 
            href = "../../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    </head>

    <body>
        <div class = "container mt-2 mx-2">
            <p>This application is a cross platform 
                development to change filenames on 
                a given folder using a CVS (like excel) 
                file. </p>
            <p>Just click on "Choose folder" under
                Directory label and select a folder 
                with files to rename. </p>
            <p>Click on "Generate CVS File!" to download a CVS 
                with columns "Path, Extension, OldName and NewName". </p>
            <p>Column NewName must be filled with 
                new filenames. </p>
            <p>To rename click on "Choose file" under CVS file, select
                filled CVS and click on "Change names!"
                to change all filenames on folder.
            </p>

            <script src = "./view.js" ></script>
        </div>
    </body>
</html>